<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="navbar fixed-top navbar-light bg-light">
            <div class="container">
                <div class="progress" style="width:25%">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class = "float-left display-block" style="width:25%">points</div>
                <div class = "float-right display-block" style="width:50%; text-align: right">
                    <a href="/add" >+</a>
                    <a href="/index">Home</a>
                </div>
            </div>
        </div>
        <div><%=birdData.length%></div>

          <% for(var i=0; i < birdData.length; i++) { %>
            <div>
              <h1><%=birdData[i].bird_name%></h1>
              <p><%=birdData[i].description%></p>
            </div>
          <% } %>


        <div class="container main">
            <div class="col-6 float-left" style="background-color: aqua">
                <img src="">
                hello
            </div>
        </div>
        <a href="/add" class="fixed-bottom"  style="text-align: center" >
            <div class="container footer">
                +
            </div>
        </a>
    </body>
</html>
