.main{
    padding-bottom: 100px;
}
.bird-sect{
    margin: 10px;
}
.img-circle{
    width:80px;
    height:80px;
    border-radius: 40px
}

.my-footer{
    background-color: darkolivegreen;
    height: 80px;
    font-size: 45px;
    color: white;
}
.mynav{
    position: fixed;
}
.navbar{
    color: white;
}

.navbar a{
    
    color: white;
}

.main-page {
    background-image: url(../images/background.png);
    background-size: 100%;
    background-attachment: fixed;
    height: 230vh;
    padding-top: 50px;
}
.paragraph{
    padding: 5px;
    border-radius: 5px;
    background-color: goldenrod;
    margin-top: 10px;
}
